.container {
  width: 200px;
  margin: auto;
}

.card-body-stars {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-body-stars li {
  float: left;
}

.u-clearfix::after {
  content: ' ';
  clear: both;
  display: table;
}
